header {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
  padding: 40px 100px;
  height: 68px;
  max-width: 1240px;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

nav a {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 142.6%; /* 34.224px */
  text-decoration-line: none;
}

nav a:hover {
  color: #ff6060;
  text-decoration-line: underline;
}

main {
  background-color: #fff;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  max-width: 1240px;
  margin: 0 auto;
}

.backgroundUrl, .backgroundAboutUrl {
  display: flex;
  position: relative;
  width: 90vw;
  height: 223px;
  max-width: 1240px;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 80px;
}

.backgroundUrl::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/images/backgroundUrl.png");
  background-size: cover;
  background-position: center;
  opacity: 1; /* Opacity of the image */
  filter: brightness(0.7); /* Darken the image */
  border-radius: 25px;
}

.backgroundAboutUrl::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/images/backgroundAboutUrl.png");
  background-size: cover;
  background-position: center;
  opacity: 1; /* Opacity of the image */
  filter: brightness(0.7); /* Darken the image */
  border-radius: 25px;
}

.display-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-family: Montserrat;
  font-size: 48px;
}

.housing-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  background-color: #f6f6f6;
  border-radius: 25px;
  width: 90vw;
  height: auto;
}

.housing-card__container {
  width: 340px;
  height: 340px;
  box-sizing: border-box;
  border-radius: 25px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(214, 122, 127, 1) 100%
  );
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  margin: 55px auto;
}

.housing-card__img {
  width: 100%;
  height: 255px;
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
}

.housing-card__content {
  display: flex;
  padding-left: 10px;
  align-items: flex-start;
  justify-content: left;
  height: 85px;
}

.housing-card__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 25.668px */
}

.house-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  margin: 150px auto;
  width: 90vw;
  height: 650px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px 25px 0px 0px;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.house-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15px;
  height: auto;
}
.head-house-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}
.house-content__title {
  width: 450px;
}

.carousel-icon {
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
}

.carousel-icon-left,
.carousel-icon-right {
  position: absolute;
  top: 45%;
  color: #fff;
  cursor: pointer;
}

.carousel-icon-left  {
  top: 45%;
  left: 20px;
}

.carousel-icon-right {
  top:45%;
  right: 20px;
} 

.ranking-img {
  position: absolute;
  color:white;
  bottom: 15px;
  right: 50%;
  font-size: large;
}

.house-content__title h2 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 25px;
  line-height: 142.6%; /* 68.224px */
  margin: 0;
}

.house-content__host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 180px;
  height: 100px;
}

.house-content__user {
  width: 100%;
}

.house-content__user-identity {
  display: flex;
  align-items: center;
  padding-top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.house-content__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.house-content__name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  margin-left: 10px;
}

.house-content__host__avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.house-content__tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  padding: 0;
  width: 80%;
}

.house-content__tags li {
  list-style: none;
  background-color: #ff6060;
  border-radius: 10px;
  color: white;
  padding: 2px 30px 2px 30px;
  margin: 0 5px 0 0;
  text-align: center;
  display: inline;
  white-space: nowrap;
}

.content__collapse {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ff6060;
  border-radius: 10px;
  color: white;
  align-items: left;
  height: 50px;
  width: 510px;
}

.content__opened {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ff6060;
  border-radius: 10px 10px 0 0;
  color: white;
  align-items: left;
  height: 50px;
  width: 510px;
}

.chevron {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.collapses-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.collapses {
  margin-top: 80px;
}

.collapses-height {
  height: 200px;
}

.content__collapse p {
  padding-left: 20px;
}

.content__opened p {
  padding-left: 20px;
}

.content__description-hidde {
  display: none;

}

.content__description-open{
  background-color: #f6f6f6;
  color: #ff6060;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  top: 50px;
  z-index: 2;
  width: 100%;
  min-height:100px;
}

.house-content__equipments  {
  display:flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding: 0;
}

.house-content__equipments li {
  padding: 0 0 0 20px;
}

.house-content__open {
  border-radius: 10px;
  background-color: #f6f6f6;
  color: #ff6060;
  position: absolute;
  top: 45px;
  z-index: 0;
}

/* not found pages */

.title-not-found {
  font-family: Montserrat;
  font-style: normal;
  font-weight:700;
  font-size: 288px;
  text-align: center;
  color: #ff6060;
  margin: 100px 0 0 0;
}

.not-found-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 90vw;
  max-width: 1240px;
}

.p-not-found {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #ff6060;
}

.btn-not-found {
  display: inline-block;
  font-size: 18px;
  text-decoration: underline;
  line-height:25.67px;
  text-align: center;
  margin: 140px 0;
  cursor: pointer;
}

/* about page */

.about-width {
  width: 80vw;
}

.about-section {
  height: auto;
}

.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
}

.footer img {
  margin-top: 75px;
}

.footer h4 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 34.224px */
}
