header {
  background-color:rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 50%;
  top: 0;
	transform: translateX(-50%);
  z-index: 1;
  padding: 40px 100px;
  height: 68px;
  width: 90vw;
  max-width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

nav a {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 142.6%; /* 34.224px */
  text-decoration-line: none;
}

nav a:hover {
  color: #ff6060;
  text-decoration-line: underline;
}

h1 {
  top: 100px;
  position: relative;
}
