header {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
  padding: 40px 100px;
  height: 68px;
  max-width: 1240px;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

nav a {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 142.6%; /* 34.224px */
  text-decoration-line: none;
}

nav a:hover {
  color: #ff6060;
  text-decoration-line: underline;
}

main {
  background-color: #fff;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  max-width: 1240px;
  margin: 0 auto;
}

.backgroundUrl {
  display: flex;
  position: relative;
  width: 90vw;
  height: 223px;
  max-width: 1240px;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 80px;
}

.backgroundUrl::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/images/backgroundUrl.png");
  background-size: cover;
  background-position: center;
  opacity: 1; /* Opacity of the image */
  filter: brightness(0.7); /* Darken the image */
  border-radius: 25px;
}

.display-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-family: Montserrat;
  font-size: 48px;
}

.housing-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  background-color: #F6F6F6;
  border-radius: 25px;
  width: 90vw;
  height: auto;
}

.housing-card__container {
  width: 340px;
  height: 340px;
  box-sizing: border-box;
  border-radius: 25px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(214, 122, 127, 1)  100%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  margin: 55px auto;
}

.housing-card__img {
  width: 100%;
  height: 255px;
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
}

.housing-card__content {
  display: flex;
  padding-left: 10px;
  align-items: flex-start;
  justify-content: left;
  height: 85px;
}

.housing-card__title {
  color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 142.6%; /* 25.668px */
}

.house-section {
  display: flex;
  flex-direction: column;
  background-color: #43adef;
  border-radius: 25px;
  margin: 150px auto;
  width: 90vw;
  height: 650px;
}

.image-container {
  width: 100%;
  height: 415px;
  border-radius: 25px 25px 0px 0px;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.house-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15px;
  height: 218px;
}
.head-house-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}
.house-content__title {
  width: 450px;
}

.house-content__title h2 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 25px;
  line-height: 142.6%; /* 68.224px */
  margin: 0;
}

.house-content__host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 167px;
  height: 60px;
}

.house-content__host__avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
}

.footer img {
  margin-top: 75px;
}

.footer h4 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 34.224px */
}
